/* Reset browser impostazioni di default */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

/*    UTILITY   */

.flex {
    display: flex;
}

.f-space-between {
    justify-content: space-between
}

.f-space-around {
    justify-content: space-around
}

.container-80 {
    margin: 0 auto;
    width: 80%
}

.container-60 {
    margin: 0 auto;
    width: 60%
}

.abs {
    position: absolute;
}

/* HEADER  */
header {
    background-color: rgb(255, 105, 0);
    box-shadow: -2px 1px 13px 4px #606060;
    align-items: center;
    padding: 10px;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

li {
    list-style: none;
    margin: 10px;
    font-size: larger;
    color: white;
}

header div {
    align-items: center;
}

.logo img {
    width: 200px;
}

i {
    color: white;
    margin-right: 10px;
}

.p-fixed {
    position: fixed;
}

/* MAIN  */

main {
    padding-bottom: 90px;
}

.card {
    width: calc(100%/3);
    margin: 30px;
    position: relative;
}

.card img {
    width: 100%;
    position: relative;
}

.name {
    position: absolute;
    margin-top: 650px;
    margin-left: 2px;
}

.sec2 {
    margin-top: 700px;
}

.imga {
    pos
}

.imgb {
    display: none;
}

.hover:hover .imga {
    display: none;
}

.hover:hover .imgb {
    display: block;
    object-fit: contain;
}

.price1 {
    color: red;
    font-weight: bold;
}

.price2 {
    text-decoration: line-through;
}

.label1 {
    background-color: red;
    padding: 7px 9px;
    color: white;
    font-weight: bold;
    margin-top: 160px;
    bottom: 10% ;
    left: 0;
}

.label2 {
    background-color: green;
    padding: 7px 9px;
    color: white;
    font-weight: bold;
    bottom: 10%;
    left: 15%;
}

.sost {
    margin-right: 300px;
    background-color: green;
    padding: 7px 9px;
    color: white;
    font-weight: bold;
    bottom: 10%;
    left: 0;
}

.heart {
    padding: 7px 9px;
    font-weight: bold;
    color: black;
    background-color: black;
    right: 0;
    top: 10%;
}

section {
    margin-top: 9%;
}
/* FOOTER  */

/* footer {
        background-color: #606060;
        align-items:flex-end;
        display: block;
    } */