/* Reset browser impostazioni di default */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

 html {
    font-family: sans-serif;
 }
 
   /*    UTILITY   */

.flex {
    display: flex;
   }
   
    .f-space-between {
    justify-content: space-between
   }
   
   .f-space-around {
    justify-content: space-around
   }
   
   .container-80 { 
    margin: 0 auto;
    width: 80%
   }

        /* HEADER  */
header {
    background-color: rgb(255,105,0);
    box-shadow: -2px 1px 13px 4px #606060;
    align-items: center;
    padding: 10px;
}        

li {
    list-style: none;
    margin: 10px;
    font-size: large;
}

header div {
    align-items: center;
}

.logo img {
    width: 200px;
}

i {
    font-size: larger;
    color: white;
}
